// Global Stylesheet

// Color Palette
$primary-color: #df6c4d;
$secondary-color: #005f98;
$terciary-color: #19abe4;


//Typography

body {
    background: #f0f0f0;
    font-family: "Open Sans";
}

h1 {
    font-family: "Dosis";
    font-weight: 600;
    text-transform: uppercase;
    color: $primary-color;
    text-align: center;
    font-size: 4em;
    position: relative;
}

p {
    text-align: center;
    font-size: 14px;
}


// Video Player Styling
video {
    max-width: 100%;
    width: 100%;
    border-radius: 6em;
}


// Other

#trailer {
    width: 95%;
    margin: auto;
}

footer{
    text-align: center;
    overflow: hidden;
}

a:active,
a:link;
a:visited {
    color: black;
    text-decoration: none;
}