/* Main Style Sheet  */

/* Color Palette */
$primary-color:  #7ec0ee;
$secondary-color: darkgreen;


body {
    background: $primary-color;
}

h1 {    
    font-size: 7em;
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-align: center;
    
}